<div>
    <label>
        {{field.label}}
    </label>
  <input type="text" ng-disabled="disabled" placeholder="{{field.placeholder}}" ng-model="localModel" name="fieldName" ng-required="field.required" data-date-format="{{field.datepickerOptions.format}}" data-date-end-date="{{field.datepickerOptions.endDate}}" min-view-mode="{{field.datepickerOptions.minViewMode}}" start-view="{{field.datepickerOptions.startView}}"  bs-datepicker>
    <p class="text-error" ng-show="fieldForm.fieldName.$error.required && fieldForm.fieldName.$dirty">This field is required</p>
</div>