<div>
    <label>{{field.label}}</label>
    <div>
        <input ng-disabled="disabled" type="password" placeholder="{{field.placeholder}}" ng-model="localModel" name="fieldName" ng-required="{{field.required}}" ng-minlength="{{field.minLength}}" ng-maxlength="{{field.maxLength}}" />
        <p class="text-error" ng-show="fieldForm.fieldName.$error.required && fieldForm.fieldName.$dirty">This field is required</p>
        <p class="text-error" ng-show="fieldForm.fieldName.$error.minlength">Please enter at least {{field.minLength}} characters</p>
        <p class="text-error" ng-show="fieldForm.fieldName.$error.maxlength">Please max {{field.maxLength}} characters</p>
        <p class="text-error" ng-show="fieldForm.fieldName.$dirty && fieldForm.fieldName.$error.dontMatch">Passwords don't match!</p>
    </div>
</div>
