
<table class="manage-reports table table-bordered table-responsive table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>
            <div class="btn-toolbar pull-right"><a class="btn btn-success btn-sm" href="#" ng-href="#/{{reportType}}/config">
                <i class="fa fa-plus"></i></a></div>
        </th>
    </tr>
    <tr ng-repeat="report in reports">
        <td class="col-xs-4">
            <a ng-href="#/list/{{report._id}}">{{report.chartConfig.title.text}}</a>
        </td>
        <td class="col-xs-4">
            {{report.chartConfig.subtitle.text}}
        </td>
        <td class="col-xs-4">
            <ul class="list-inline pull-right">
            <li><a class="btn-primary btn-sm" ng-href="#/{{report._id}}/config">
                <i class="fa fa-pencil"></i></a></li>
            <li><a class="btn-danger btn-sm" ng-click="deleteReport(report._id)">
                <i class="fa fa-trash-o"></i></a></li>
            </ul>
        </td>
    </tr>
</table>




