<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-offset-0 col-sm-5">

            <form class="form-horizontal" role="form">
                <header><label>Report Parameters: </label></header>
                <div class="table-bordered">
                    <div ng-repeat="field in formConfig.fields.params">
                        <formulate field="field"></formulate>
                    </div>
                    <div class="pull-right">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-xs" ng-click="generateReport()">Generate Report</button>
                        </div>

                    </div>
                </div>
                <header><label>Display Options: </label></header>
                <div class="table-bordered">
                    <div ng-repeat="field in formConfig.fields.display">
                        <formulate field="field"></formulate>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-7">
            <!--Body content-->
            <chart config="chartConfig"></chart>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 modal-footer table-responsive">
                <p class="text-center">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-default" ng-click="updateReport()">Save</button>
                    <button type="submit" class="btn btn-default">Save and Finish</button>
                </p>
            </div>
        </div>

    </div>

</div>



